In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 6.8 MB/s eta 0:00:008 MB/s eta 0:00:01
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pymongo]━━━ 1/2 [pymongo]
Successfully installed dnspython-2.8.0 pymongo-4.15.3

### 1. Connecting to a MongoDB Database
- **Task 1**: Ensure that MongoDB is installed and running. Connect to your local MongoDB server.

In [19]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
collection = db["employees"]
products = db["products"]

print("Connected to MongoDB")

Connected to MongoDB

### 2. Basic CRUD Operations
- **Task 2**: Insert, Update, and Delete data in the `employees` collection.

In [39]:
# Start with an empty collection
collection.delete_many({})

# Insert operations

employee_data = {
    "name": "Alice",
    "department": "Finance",
    "age": 29,
    "salary": 4500
}

collection.insert_one(employee_data)

print("The entire collection after a single data is inserted:")
for employee in collection.find():
    print(employee)

multiple_data = [
    {"name": "John", "department": "Finance", "age": 31, "salary": 4600},
    {"name": "Jane", "department": "HR", "age": 30, "salary": 4400},
    {"name": "Smith", "department": "Finance", "age": 32, "salary": 4300},
    {"name": "Andy", "department": "Sales", "age": 32, "salary": 4400},
    {"name": "Carl", "department": "Sales", "age": 32, "salary": 4500},
]
collection.insert_many(multiple_data)

print("\nThe entire collection after multiple data are inserted:")
for employee in collection.find():
    print(employee)

The entire collection after a single data is inserted:
{'_id': ObjectId('69042cd6ffb399241cce4230'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

The entire collection after multiple data are inserted:
{'_id': ObjectId('69042cd6ffb399241cce4230'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('69042cd6ffb399241cce4231'), 'name': 'John', 'department': 'Finance', 'age': 31, 'salary': 4600}
{'_id': ObjectId('69042cd6ffb399241cce4232'), 'name': 'Jane', 'department': 'HR', 'age': 30, 'salary': 4400}
{'_id': ObjectId('69042cd6ffb399241cce4233'), 'name': 'Smith', 'department': 'Finance', 'age': 32, 'salary': 4300}
{'_id': ObjectId('69042cd6ffb399241cce4234'), 'name': 'Andy', 'department': 'Sales', 'age': 32, 'salary': 4400}
{'_id': ObjectId('69042cd6ffb399241cce4235'), 'name': 'Carl', 'department': 'Sales', 'age': 32, 'salary': 4500}

In [40]:
# Update operations

query_filter = {"name": "Smith"}
update_operation = {"$set": {"department": "HR"}}
result = collection.update_one(query_filter, update_operation)

print(f"\nUpdated {result.modified_count} document:")
for employee in collection.find():
    print(employee)

query_filter = {"salary": {"$lt": 4500}}
update_operation = {"$set": {"salary": 5000}}
result = collection.update_many(query_filter, update_operation)

print(f"\nUpdated {result.modified_count} documents:")
for employee in collection.find():
    print(employee)

Updated 1 document:
{'_id': ObjectId('69042cd6ffb399241cce4230'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('69042cd6ffb399241cce4231'), 'name': 'John', 'department': 'Finance', 'age': 31, 'salary': 4600}
{'_id': ObjectId('69042cd6ffb399241cce4232'), 'name': 'Jane', 'department': 'HR', 'age': 30, 'salary': 4400}
{'_id': ObjectId('69042cd6ffb399241cce4233'), 'name': 'Smith', 'department': 'HR', 'age': 32, 'salary': 4300}
{'_id': ObjectId('69042cd6ffb399241cce4234'), 'name': 'Andy', 'department': 'Sales', 'age': 32, 'salary': 4400}
{'_id': ObjectId('69042cd6ffb399241cce4235'), 'name': 'Carl', 'department': 'Sales', 'age': 32, 'salary': 4500}

Updated 3 documents:
{'_id': ObjectId('69042cd6ffb399241cce4230'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('69042cd6ffb399241cce4231'), 'name': 'John', 'department': 'Finance', 'age': 31, 'salary': 4600}
{'_id': ObjectId('69042cd6ffb399241cce4232'), 'name': 'Jane', 'department': 'HR', 'age': 30, 'salary': 5000}
{'_id': ObjectId('69042cd6ffb399241cce4233'), 'name': 'Smith', 'department': 'HR', 'age': 32, 'salary': 5000}
{'_id': ObjectId('69042cd6ffb399241cce4234'), 'name': 'Andy', 'department': 'Sales', 'age': 32, 'salary': 5000}
{'_id': ObjectId('69042cd6ffb399241cce4235'), 'name': 'Carl', 'department': 'Sales', 'age': 32, 'salary': 4500}

In [41]:
# Delete operations

query_filter = {"salary": 5000}
result = collection.delete_one(query_filter)

print(f"Deleted {result.deleted_count} document:")
for employee in collection.find():
    print(employee)

query_filter = {"department": "Sales"}
result = collection.delete_many(query_filter)

print(f"\nDeleted {result.deleted_count} documents:")
for employee in collection.find():
    print(employee)

Deleted 1 document:
{'_id': ObjectId('69042cd6ffb399241cce4230'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('69042cd6ffb399241cce4231'), 'name': 'John', 'department': 'Finance', 'age': 31, 'salary': 4600}
{'_id': ObjectId('69042cd6ffb399241cce4233'), 'name': 'Smith', 'department': 'HR', 'age': 32, 'salary': 5000}
{'_id': ObjectId('69042cd6ffb399241cce4234'), 'name': 'Andy', 'department': 'Sales', 'age': 32, 'salary': 5000}
{'_id': ObjectId('69042cd6ffb399241cce4235'), 'name': 'Carl', 'department': 'Sales', 'age': 32, 'salary': 4500}

Deleted 2 documents:
{'_id': ObjectId('69042cd6ffb399241cce4230'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('69042cd6ffb399241cce4231'), 'name': 'John', 'department': 'Finance', 'age': 31, 'salary': 4600}
{'_id': ObjectId('69042cd6ffb399241cce4233'), 'name': 'Smith', 'department': 'HR', 'age': 32, 'salary': 5000}

### 3. More Complex Queries Using Aggregation
- **Task 3**: Apply aggregation to calculate the average salary per department.

In [42]:
pipeline = [
    {"$group": {"_id": "$department", "average_salary": {"$avg": "$salary"}}}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4550.0}
{'_id': 'HR', 'average_salary': 5000.0}

### 4. Additional Exercises
- **Exercise 4.1**: Create a new collection called `products` and enter product data (minimum 10 products).
- **Exercise 4.2**: Run a query to find products with above-average prices.
- **Exercise 4.3**: Create an aggregation pipeline to calculate the total number of products in each category.

In [58]:
# Start with an empty collection
products.delete_many({})

# Create a new collection called products and enter product data (minimum 10 products).

products.insert_many([
    {"name": "Laptop", "price": 1200, "stock": 22, "category": "Electronics"},
    {"name": "Television", "price": 800, "stock": 32, "category": "Electronics"},
    {"name": "Smartphone", "price": 900, "stock": 54, "category": "Electronics"},
    {"name": "Pants", "price": 8, "stock": 23, "category": "Clothes"},
    {"name": "Snack", "price": 2, "stock": 45, "category": "Foods"},
    {"name": "Book", "price": 8, "stock": 76, "category": "Stationery"},
    {"name": "Keyboard", "price": 90, "stock": 98, "category": "Electronics"},
    {"name": "Bag", "price": 12, "stock": 12, "category": "Clothes"},
    {"name": "Monitor", "price": 400, "stock": 3, "category": "Electronics"},
    {"name": "Shirt", "price": 8, "stock": 47, "category": "Clothes"},
    {"name": "Hat", "price": 6, "stock": 18, "category": "Clothes"},
    {"name": "Jacket", "price": 9, "stock": 33, "category": "Clothes"},
    {"name": "Headphones", "price": 10, "stock": 11, "category": "Electronics"},
    {"name": "Shoes", "price": 12, "stock": 86, "category": "Clothes"},
    {"name": "Charger", "price": 8, "stock": 45, "category": "Electronics"}
])

for product in products.find():
    print(product)

{'_id': ObjectId('6904306effb399241cce4290'), 'name': 'Laptop', 'price': 1200, 'stock': 22, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4291'), 'name': 'Television', 'price': 800, 'stock': 32, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4292'), 'name': 'Smartphone', 'price': 900, 'stock': 54, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4293'), 'name': 'Pants', 'price': 8, 'stock': 23, 'category': 'Clothes'}
{'_id': ObjectId('6904306effb399241cce4294'), 'name': 'Snack', 'price': 2, 'stock': 45, 'category': 'Foods'}
{'_id': ObjectId('6904306effb399241cce4295'), 'name': 'Book', 'price': 8, 'stock': 76, 'category': 'Stationery'}
{'_id': ObjectId('6904306effb399241cce4296'), 'name': 'Keyboard', 'price': 90, 'stock': 98, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4297'), 'name': 'Bag', 'price': 12, 'stock': 12, 'category': 'Clothes'}
{'_id': ObjectId('6904306effb399241cce4298'), 'name': 'Monitor', 'price': 400, 'stock': 3, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4299'), 'name': 'Shirt', 'price': 8, 'stock': 47, 'category': 'Clothes'}
{'_id': ObjectId('6904306effb399241cce429a'), 'name': 'Hat', 'price': 6, 'stock': 18, 'category': 'Clothes'}
{'_id': ObjectId('6904306effb399241cce429b'), 'name': 'Jacket', 'price': 9, 'stock': 33, 'category': 'Clothes'}
{'_id': ObjectId('6904306effb399241cce429c'), 'name': 'Headphones', 'price': 10, 'stock': 11, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce429d'), 'name': 'Shoes', 'price': 12, 'stock': 86, 'category': 'Clothes'}
{'_id': ObjectId('6904306effb399241cce429e'), 'name': 'Charger', 'price': 8, 'stock': 45, 'category': 'Electronics'}

In [59]:
# Run a query to find products with above-average prices.

pipeline = [
    {"$group": {"_id": None, "average": {"$avg": "$price"}}}
]
average_price = 0

print("Average price:")
for product in products.aggregate(pipeline):
    average_price = product["average"]
    print(average_price)

print("\nProducts with above average price:")
for product in products.find({"price": {"$gt": average_price}}):
    print(product)

Average price:
231.53333333333333

Products with above average price:
{'_id': ObjectId('6904306effb399241cce4290'), 'name': 'Laptop', 'price': 1200, 'stock': 22, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4291'), 'name': 'Television', 'price': 800, 'stock': 32, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4292'), 'name': 'Smartphone', 'price': 900, 'stock': 54, 'category': 'Electronics'}
{'_id': ObjectId('6904306effb399241cce4298'), 'name': 'Monitor', 'price': 400, 'stock': 3, 'category': 'Electronics'}

In [60]:
# Create an aggregation pipeline to calculate the total number of products in each category.

pipeline = [
    {"$group": {"_id": "$category", "product_count": {"$sum": "$stock"}}}
]

for product in products.aggregate(pipeline):
    print(product)

{'_id': 'Stationery', 'product_count': 76}
{'_id': 'Clothes', 'product_count': 219}
{'_id': 'Foods', 'product_count': 45}
{'_id': 'Electronics', 'product_count': 265}

### 5. Tasks
- **Task 1**: Find the 5 highest-paid employees in each department, using the appropriate query or aggregation.
- **Task 2**: Create a scenario where you need to remove employees under 25 from the database.
- **Task 3**: Create a summary report (using a MongoDB query) that calculates the total salary of employees in each department, as well as the average employee age.

In [65]:
# Start with an empty collection
collection.delete_many({})

collection.insert_many([
    {"name": "Carl", "department": "Sales", "age": 32, "salary": 4500},
    {"name": "Eleanor Vance", "department": "Sales", "age": 28, "salary": 4200},
    {"name": "Marcus Thorne", "department": "Sales", "age": 40, "salary": 5800},
    {"name": "Jessica Lee", "department": "Sales", "age": 25, "salary": 4000},
    {"name": "David Chen", "department": "Sales", "age": 38, "salary": 5100},
    {"name": "Emily White", "department": "Sales", "age": 27, "salary": 4800},
    {"name": "Daniel Green", "department": "Sales", "age": 39, "salary": 6300},
    {"name": "Olivia Martinez", "department": "Sales", "age": 31, "salary": 5000},
    {"name": "Steven Rogers", "department": "Sales", "age": 24, "salary": 6500},
    {"name": "Brenda Fisher", "department": "Sales", "age": 33, "salary": 4700},
    {"name": "Linda Davis", "department": "HR", "age": 45, "salary": 6000},
    {"name": "Robert Adams", "department": "HR", "age": 30, "salary": 4800},
    {"name": "Sophia Rodriguez", "department": "HR", "age": 24, "salary": 5500},
    {"name": "Michael Chen", "department": "HR", "age": 52, "salary": 7200},
    {"name": "Patricia Wilson", "department": "HR", "age": 29, "salary": 4700},
    {"name": "James Gordon", "department": "HR", "age": 55, "salary": 8000},
    {"name": "Kimberly Miller", "department": "HR", "age": 24, "salary": 5300},
    {"name": "Richard Clark", "department": "HR", "age": 41, "salary": 6100},
    {"name": "Nancy Hall", "department": "HR", "age": 24, "salary": 4500},
    {"name": "George Evans", "department": "HR", "age": 48, "salary": 6800},
    {"name": "Sarah Johnson", "department": "Finance", "age": 34, "salary": 5200},
    {"name": "Kevin Brown", "department": "Finance", "age": 47, "salary": 7500},
    {"name": "David Wilson", "department": "Finance", "age": 24, "salary": 6300},
    {"name": "Maria Garcia", "department": "Finance", "age": 31, "salary": 5000},
    {"name": "John Doe", "department": "Finance", "age": 50, "salary": 8200},
    {"name": "Lisa Taylor", "department": "Finance", "age": 29, "salary": 4900},
    {"name": "Paul Lewis", "department": "Finance", "age": 42, "salary": 6800},
    {"name": "Susan Clark", "department": "Finance", "age": 37, "salary": 5900},
    {"name": "Gary Miller", "department": "Finance", "age": 51, "salary": 8500},
    {"name": "Michelle Adams", "department": "Finance", "age": 30, "salary": 5100}
])

InsertManyResult([ObjectId('690430dcffb399241cce42bd'), ObjectId('690430dcffb399241cce42be'), ObjectId('690430dcffb399241cce42bf'), ObjectId('690430dcffb399241cce42c0'), ObjectId('690430dcffb399241cce42c1'), ObjectId('690430dcffb399241cce42c2'), ObjectId('690430dcffb399241cce42c3'), ObjectId('690430dcffb399241cce42c4'), ObjectId('690430dcffb399241cce42c5'), ObjectId('690430dcffb399241cce42c6'), ObjectId('690430dcffb399241cce42c7'), ObjectId('690430dcffb399241cce42c8'), ObjectId('690430dcffb399241cce42c9'), ObjectId('690430dcffb399241cce42ca'), ObjectId('690430dcffb399241cce42cb'), ObjectId('690430dcffb399241cce42cc'), ObjectId('690430dcffb399241cce42cd'), ObjectId('690430dcffb399241cce42ce'), ObjectId('690430dcffb399241cce42cf'), ObjectId('690430dcffb399241cce42d0'), ObjectId('690430dcffb399241cce42d1'), ObjectId('690430dcffb399241cce42d2'), ObjectId('690430dcffb399241cce42d3'), ObjectId('690430dcffb399241cce42d4'), ObjectId('690430dcffb399241cce42d5'), ObjectId('690430dcffb399241cce42d6'), ObjectId('690430dcffb399241cce42d7'), ObjectId('690430dcffb399241cce42d8'), ObjectId('690430dcffb399241cce42d9'), ObjectId('690430dcffb399241cce42da')], acknowledged=True)

In [66]:
# Find the 5 highest-paid employees in each department, using the appropriate query or aggregation.

pipeline = [
    {"$sort": {"salary": -1}},
    {"$group": {"_id": "$department", "documents": {"$push": "$$ROOT"}}},
    {"$project": {"_id": 1, "documents": {"$slice": ["$documents", 5]}}}
]

for group in collection.aggregate(pipeline):
    print(f"\n{group['_id']}")
    for employee in group["documents"]:
        print(employee)

Finance
{'_id': ObjectId('690430dcffb399241cce42d9'), 'name': 'Gary Miller', 'department': 'Finance', 'age': 51, 'salary': 8500}
{'_id': ObjectId('690430dcffb399241cce42d5'), 'name': 'John Doe', 'department': 'Finance', 'age': 50, 'salary': 8200}
{'_id': ObjectId('690430dcffb399241cce42d2'), 'name': 'Kevin Brown', 'department': 'Finance', 'age': 47, 'salary': 7500}
{'_id': ObjectId('690430dcffb399241cce42d7'), 'name': 'Paul Lewis', 'department': 'Finance', 'age': 42, 'salary': 6800}
{'_id': ObjectId('690430dcffb399241cce42d3'), 'name': 'David Wilson', 'department': 'Finance', 'age': 24, 'salary': 6300}

HR
{'_id': ObjectId('690430dcffb399241cce42cc'), 'name': 'James Gordon', 'department': 'HR', 'age': 55, 'salary': 8000}
{'_id': ObjectId('690430dcffb399241cce42ca'), 'name': 'Michael Chen', 'department': 'HR', 'age': 52, 'salary': 7200}
{'_id': ObjectId('690430dcffb399241cce42d0'), 'name': 'George Evans', 'department': 'HR', 'age': 48, 'salary': 6800}
{'_id': ObjectId('690430dcffb399241cce42ce'), 'name': 'Richard Clark', 'department': 'HR', 'age': 41, 'salary': 6100}
{'_id': ObjectId('690430dcffb399241cce42c7'), 'name': 'Linda Davis', 'department': 'HR', 'age': 45, 'salary': 6000}

Sales
{'_id': ObjectId('690430dcffb399241cce42c5'), 'name': 'Steven Rogers', 'department': 'Sales', 'age': 24, 'salary': 6500}
{'_id': ObjectId('690430dcffb399241cce42c3'), 'name': 'Daniel Green', 'department': 'Sales', 'age': 39, 'salary': 6300}
{'_id': ObjectId('690430dcffb399241cce42bf'), 'name': 'Marcus Thorne', 'department': 'Sales', 'age': 40, 'salary': 5800}
{'_id': ObjectId('690430dcffb399241cce42c1'), 'name': 'David Chen', 'department': 'Sales', 'age': 38, 'salary': 5100}
{'_id': ObjectId('690430dcffb399241cce42c4'), 'name': 'Olivia Martinez', 'department': 'Sales', 'age': 31, 'salary': 5000}

In [67]:
# Create a scenario where you need to remove employees under 25 from the database.

query_filter = {"age": {"$lt": 25}}
result = collection.delete_many(query_filter)

print(f"\nDeleted {result.deleted_count} documents:")
for employee in collection.find():
    print(employee)

Deleted 5 documents:
{'_id': ObjectId('690430dcffb399241cce42bd'), 'name': 'Carl', 'department': 'Sales', 'age': 32, 'salary': 4500}
{'_id': ObjectId('690430dcffb399241cce42be'), 'name': 'Eleanor Vance', 'department': 'Sales', 'age': 28, 'salary': 4200}
{'_id': ObjectId('690430dcffb399241cce42bf'), 'name': 'Marcus Thorne', 'department': 'Sales', 'age': 40, 'salary': 5800}
{'_id': ObjectId('690430dcffb399241cce42c0'), 'name': 'Jessica Lee', 'department': 'Sales', 'age': 25, 'salary': 4000}
{'_id': ObjectId('690430dcffb399241cce42c1'), 'name': 'David Chen', 'department': 'Sales', 'age': 38, 'salary': 5100}
{'_id': ObjectId('690430dcffb399241cce42c2'), 'name': 'Emily White', 'department': 'Sales', 'age': 27, 'salary': 4800}
{'_id': ObjectId('690430dcffb399241cce42c3'), 'name': 'Daniel Green', 'department': 'Sales', 'age': 39, 'salary': 6300}
{'_id': ObjectId('690430dcffb399241cce42c4'), 'name': 'Olivia Martinez', 'department': 'Sales', 'age': 31, 'salary': 5000}
{'_id': ObjectId('690430dcffb399241cce42c6'), 'name': 'Brenda Fisher', 'department': 'Sales', 'age': 33, 'salary': 4700}
{'_id': ObjectId('690430dcffb399241cce42c7'), 'name': 'Linda Davis', 'department': 'HR', 'age': 45, 'salary': 6000}
{'_id': ObjectId('690430dcffb399241cce42c8'), 'name': 'Robert Adams', 'department': 'HR', 'age': 30, 'salary': 4800}
{'_id': ObjectId('690430dcffb399241cce42ca'), 'name': 'Michael Chen', 'department': 'HR', 'age': 52, 'salary': 7200}
{'_id': ObjectId('690430dcffb399241cce42cb'), 'name': 'Patricia Wilson', 'department': 'HR', 'age': 29, 'salary': 4700}
{'_id': ObjectId('690430dcffb399241cce42cc'), 'name': 'James Gordon', 'department': 'HR', 'age': 55, 'salary': 8000}
{'_id': ObjectId('690430dcffb399241cce42ce'), 'name': 'Richard Clark', 'department': 'HR', 'age': 41, 'salary': 6100}
{'_id': ObjectId('690430dcffb399241cce42d0'), 'name': 'George Evans', 'department': 'HR', 'age': 48, 'salary': 6800}
{'_id': ObjectId('690430dcffb399241cce42d1'), 'name': 'Sarah Johnson', 'department': 'Finance', 'age': 34, 'salary': 5200}
{'_id': ObjectId('690430dcffb399241cce42d2'), 'name': 'Kevin Brown', 'department': 'Finance', 'age': 47, 'salary': 7500}
{'_id': ObjectId('690430dcffb399241cce42d4'), 'name': 'Maria Garcia', 'department': 'Finance', 'age': 31, 'salary': 5000}
{'_id': ObjectId('690430dcffb399241cce42d5'), 'name': 'John Doe', 'department': 'Finance', 'age': 50, 'salary': 8200}
{'_id': ObjectId('690430dcffb399241cce42d6'), 'name': 'Lisa Taylor', 'department': 'Finance', 'age': 29, 'salary': 4900}
{'_id': ObjectId('690430dcffb399241cce42d7'), 'name': 'Paul Lewis', 'department': 'Finance', 'age': 42, 'salary': 6800}
{'_id': ObjectId('690430dcffb399241cce42d8'), 'name': 'Susan Clark', 'department': 'Finance', 'age': 37, 'salary': 5900}
{'_id': ObjectId('690430dcffb399241cce42d9'), 'name': 'Gary Miller', 'department': 'Finance', 'age': 51, 'salary': 8500}
{'_id': ObjectId('690430dcffb399241cce42da'), 'name': 'Michelle Adams', 'department': 'Finance', 'age': 30, 'salary': 5100}

In [68]:
# Create a summary report (using a MongoDB query) that calculates the total salary of employees in each department, as well as the average employee age.

pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]

for employee in collection.aggregate(pipeline):
    print(employee)

{'_id': 'Sales', 'total_salary': 44400, 'average_age': 32.55555555555556}
{'_id': 'HR', 'total_salary': 43600, 'average_age': 42.857142857142854}
{'_id': 'Finance', 'total_salary': 57100, 'average_age': 39.0}